<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <title>Todo</title>
</head>
<body>
    <div class="task-display">
        this displays tasks
    </div>

    <div>
        <input type="text" placeholder="add a new task">
        <input type="submit" value="+">
        add task bar
    </div>
    
    <div>
        edit task button
    </div>
    
    <div>
        delete task button
    </div>   
</body>
</html>