<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <title>Todo</title>
</head>
<body>
    <div class="task-display">
        this displays tasks
    </div>
    <div>
        <input type="text" id="add-task-field" placeholder="enter task to add">
        <input type="submit" value="add task">
    </div>
    
    <div>
        <input type="submit" id="submit-button" value="edit task">
    </div>
    
    <div>
        <input type="submit" id="delete-button" value="delete selected tasks">
    </div>   
</body>

</html>